<%for(var attribute in this.Class.attributes){%>
	<%if(attribute == 'id') continue;%>
	<td class='<%= attribute%>'>
		<%=this[attribute]%>
	</td>
<%}%>
<td>
	<a href='javascript://' class='pick'>pick</a>
</td>