/*+init {*/
* {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH {
	font-weight: inherit;
	=font-weight: expression(this.__FW?this.__FW:(new Function('t','return (t.__FW=t.parentNode.currentStyle.fontWeight)'))(this));
}
ADDRESS, CITE, DFN, VAR {
	font-style: inherit;
	=font-style: expression(this.__FS?this.__FS:(new Function('t','return (t.__FS=t.parentNode.currentStyle.fontStyle)'))(this));
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON {
	font-family: inherit;
        text-align: center;
	=font-family: expression(this.__FF?this.__FF:(new Function('t','return (t.__FF=t.parentNode.currentStyle.fontFamily)'))(this));
}
TABLE {	border-spacing: 0;}
TH { text-align: left; }
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR { position: static; }
INPUT[type=hidden] { display: none !important; }
FIELDSET, A IMG { border: 0; }
BODY {
	font-size: 100%;
	font-family: verdana;
	line-height: 1.5;
}
/*+}*/
.tabs {
    padding: 0px; margin: 0px;
    list-style-type: none;
}
.tabs li {
/*        float: left;
    padding: 0px;
    background-color: #F6F6F6; */
/*        list-style: none;
    margin-left: 10px; */
    position:relative;
    width:106px;
    height:30px;
    top:6px;
    z-index:1;
    float:left;
    background-image:url(resources/pp_nontab.png);
    background-position:top;
    background-repeat:no-repeat;
    text-decoration: none;
}
.tabs li.active {
    background-image:url(resources/pp_tab.png);
}
.tabs li a {
    /* color: #1C94C4;
    font-weight: bold;*/
    text-decoration: none;
    position:relative;
    width:100%;
    height:16px;
    top:5px;
    z-index:1;
    float:left;
    color: lightgrey;
    font-size:14px;
    font-family: "Myriad Pro", Helvetica, sans-serif;
    text-align:center;
}
.tabs li.active a {
    color: white;
    cursor: default;
    text-decoration: none;
}
.tab {
    /* border: solid 1px #F6A828;
    margin: 10px; */
    position:absolute;
    width:319px;
    height:438px;
    top:36px;
    z-index:1;
    border: 0px;
    left: 0px;
    background-image:url(resources/pp_app_bg.png);
    background-position:top;
    background-repeat:no-repeat;
}
/* clearfix from jQueryUI */
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
/* Get rid of a crap */
a:link      {text-decoration: none;}
a:visited   {text-decoration: none;}
a:active    {text-decoration: none;}
a:hover     {text-decoration: none;}
/* ---------------------------------------------- */
.infoSection {
    display:block;
    color:white;
    position:relative;
    width:319px;
    height:89px;
    z-index:1;
    border: 0px;
    left: 0px;
    top: 10px;
    background-image:url(resources/pp_row_bg.png);
    background-repeat:no-repeat;
}
.header {
    position:relative;
    width:319px;
    height:25px;
    z-index:1;
    border: 0px;
    left: 0px;
    top: 3px;
    color:white;
    font-size:24px;
    text-align:center;
    font-family:Hauser, Arial, Helvetica, sans-serif;
    text-shadow: rgba(0,0,0,1) 2px 2px 3px;
}
.createdBy {
    position:relative;
    width:319px;
    height:25px;
    z-index:1;
    border: 0px;
    top: 20px;
    left: 0px;
    bottom: 0px;
    color:white;
    font-size:18px;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
.gameview {
    display:block;
    /*set the div in the bottom right corner*/
    position:absolute;
    bottom:0;
    right:0;
    width:50px;
    /*give it some background and border*/
    background:#eee;
    border:1px solid #ddd;
 }
 /*
.gameedit {
    display:block;
    /*set the div in the bottom left corner
    position:absolute;
    bottom:0;
    left:0;
    width:50px;
    /*give it some background and border
    background:#eee;
    border:1px solid #ddd;
} */
/*spools.css Chris Trees 20110822 merge Joe*/
.boardSection
{
        display:block;
        position: relative;
	background-image: url(resources/games_spools_bg.png);
	background-repeat: no-repeat;
        border: 0px;
	width: 334px;
	height: 334px;
        top: 10px;
        left: -10px;
}
#boardwinner {
    display:block;
    border: 0px;
    top: 10px;
   left: 15px;
    color: white;
}
#PGSpoolsTable
{
	display:block;
	position: absolute;
	right: 21px;
	bottom: 17px;
	/*width: 234px;
        height: 234px;*/
        color:white;
	/* text-align: center; */
}
.PGSpoolsScoreVert
{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	max-height: 10px;
	max-width: 20px;
	text-align: center;
}
.PGSpoolsScoreHoriz
{
	text-align: center;
}
.PGGrid
{
	min-height: 47px;
	min-width: 47px;
	width: 47px;
	height: 47px;
	text-align: center;
}
/*
#PGGrid {
	position:relative;
	width:47px;
	height:47px;
	z-index:2;
	float:left;
}
*/
/*
#PGGridContainer {
	position:absolute;
	width:235px;
	height:235px;
	z-index:2;
	left: 79px;
	top: 81px;
}*/

.PGSpoolsTableTeamLeft
{
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	width: 0px;
	height: 0px;
	max-height: 10px;
	max-width: 30px;
}
.PGSpoolsTableTeamTop
{
	text-align: center;
}
#PGPicksInstruction {
	position:relative;
	width:100%;
	height:16px;
	z-index:4;
	text-align:center;
	top:10px;
	color:white;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
        text-align: center;
}
#PGPicksSelectionContainer {
	position:relative;
	width:100%;
	height:40px;
	z-index:4;
	text-align:center;
	top:10px;
}
#PGHomeTeam {
	position:absolute;
	width:140px;
	height:25px;
	z-index:4;
	left: 1px;
	color:white;
	font-size:20px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
	top: 3px;
}
#PGHomeTeamScore {
	position:absolute;
	width:140px;
	height:25px;
	z-index:4;
	left: 1px;
	color:white;
	font-size:20px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	top: 28px;
}
#PGAwayTeam {
	position:absolute;
	width:140px;
	height:25px;
	z-index:4;
	left: 177px;
	top: 3px;
	color:white;
	font-size:20px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
}
#PGAwayTeamScore {
	position:absolute;
	width:140px;
	height:25px;
	z-index:4;
	left: 177px;
	top: 28px;
	color:white;
	font-size:20px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}
#PGVS {
	position:absolute;
	width:34px;
	height:18px;
	z-index:4;
	left: 142px;
	top: 17px;
	color:white;
	font-size:14px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}
/* Officials Panel */

.addplayer {
	position:absolute;
	width:110px;
	height:75px;
	z-index:1;
	border: 0px;
	left: 0px;
	top:340px;
	left: 5px;
	background-image:url(resources/pp_big_button.png);
}
.removeplayer {
	position:absolute;
	width:110px;
	height:75px;
	z-index:1;
	border: 0px;
	left: 0px;
	top:340px;
	left: 122px;
	background-image:url(resources/pp_big_button.png);
}
#squarebuttonTitle {
    display:block;
	position:absolute;
	/*width:55px;
	height:60px;*/
	z-index:2;
	top:13px;
	left:3px;
	color:white;
        margin-bottom: 20px;
	font-size:24px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
	text-shadow: rgba(0,0,0,1) 2px 2px 3px;
}
.startgame {
    display:block;
	position:absolute;
	width:110px;
	height:75px;
	z-index:1;
	border: 0px;
	left: 10px;
        top: 7px;
        text-align:center;
	/*top:388px;
	left: 108px;*/
	background-image:url(resources/pp_big_button.png);
}
.endgame {
    display:block;
	position:absolute;
	width:75px;
	height:75px;
	z-index:1;
	border: 0px;
	left: 127px;
        top: 7px;
        text-align:center;
	/*top:340px;
	left: 239px;*/
	background-image:url(resources/pp_red_button.png);
}
.updategame {
    display:block;
	position:absolute;
	width:110px;
	height:75px;
	z-index:1;
	border: 0px;
	left: 210px;
        top: 7px;
        text-align:center;
	/*top:340px;
	left: 239px;*/
	background-image:url(resources/pp_big_button.png);
}
.cancelupdate {
    display:block;
	position:absolute;
	width:110px;
	height:67px;
	z-index:1;
	border: 0px;
	left: 110px;
        top: 85px;
        text-align:center;
	/*top:340px;
	left: 239px;*/
	background-image:url(resources/pp_big_button.png);
}
#minusbutton {
	position:absolute;
	width:60px;
	height:60px;
	z-index:2;
	left: 13px;
	top: 13px;
	background-image:url(resources/pp_minus_button.png);
}
#plusbutton {
	position:absolute;
	width:60px;
	height:60px;
	z-index:2;
	left: 247px;
	top: 13px;
	background-image:url(resources/pp_plus_button.png);
}
#heading {
	position:absolute;
	width:166px;
	height:26px;
	z-index:2;
	left: 77px;
	top: 13px;
	color:white;
	font-size:24px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
	text-shadow: rgba(0,0,0,1) 2px 2px 3px;
}
#startNew {
    display:block;
	position:absolute;
	width:250px;
	height:40px;
	z-index:2;
	left: 35px;
        top: 370px;
	bottom: 30px;
	color:white;
	font-size:24px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
	text-shadow: rgba(0,0,0,1) 2px 2px 3px;
}
#teamscoreedit { /* this is joevalue with mods */
	position:absolute;
	width:166px;
	height:26px;
	z-index:2;
	left: 77px;
	top: 47px;
	/* color:white; */
	font-size:20px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
#neweditvalue { /* this is joevalue with mods */
	position:absolute;
	width:240px;
	height:26px;
	z-index:2;
	left: 40px;
	top: 47px;
	/* color:white; */
	font-size:20px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
#joevalue { /* changed to joevalue as value is just too damb common */
	position:absolute;
	width:166px;
	height:26px;
	z-index:2;
	left: 77px;
	top: 47px;
	color:white;
	font-size:20px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
#buttonTitle {
	position:absolute;
	width:90px;
	height:60px;
	z-index:2;
	top:4px;
	left:5px;
	color:white;
	font-size:24px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
	text-shadow: rgba(0,0,0,1) 2px 2px 3px;
}

/* Scoreboard */
#name {
	position:absolute;
	width:200px;
	height:26px;
	top: 4px;
	left: 5px;
	z-index:1;
	color:white;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}
#score {
	position:absolute;
	width:100px;
	height:26px;
	top: 4px;
	left: 211px;
	z-index:1;
	color:white;
	font-size:20px;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
}

