<form>
<div class="infoSection">
<div class="infoSection">
<div id="heading">Officials Name</div>
<div id="neweditvalue"><input type="text" name="Official"/></div>
</div>
<div class="infoSection"><div id="heading">Sport</div>
<select id="neweditvalue" name="TypeSport">
    <option value="Baseball">Baseball</option>
    <option value="Football" selected="selected">Football</option>
</select></div>
<div class="infoSection">
<div id="heading">Home Team</div>
<div id="neweditvalue"><input type="text" name="TeamNameA"/></div>
</div>
<div class="infoSection">
<div id="heading">Away Team</div>
<div id="neweditvalue"><input type="text" name="TeamNameB"/></div>
</div>
<input type="hidden" value="0" name="TeamAScore"/>
<input type="hidden" value="0" name="TeamBScore"/>
<input type="hidden" value="New Game" name="message"/>
<input type="hidden" value="JoinGame" name="GameState"/>
<div class="infoSection">
<div id="heading">Start Time</div>
<div id="neweditvalue"><input type="text" name="StartTime"/></div>
</div>
<div class="infoSection">
<input id="startNew" class='game' type="submit" value="Create New Game!"/>
</div>
</form>