<td><%for(var attribute in this.Class.attributes){ if(attribute == 'id') continue; %>
<%if(attribute == 'TeamNameA') {%><div class='header'><%= this[attribute]%> vs <%}%>
<%if(attribute == 'TeamNameB') {%><%= this[attribute]%></div><%}%>
<%if(attribute == 'TypeSport') {%><div class='createdBy'>Sport: <%= this[attribute]%></div><%}%>
<%}%>
<a class='gameedit' href='javascript://' class='edit'>edit</a>
<a class='gameview' href='javascript://' class='view'>view</a>
</td>