<td>
<div class='header'><%= this['TeamNameA']%> vs <%= this['TeamNameB']%></div>
<div class='createdBy'>Sport: <%= this['TypeSport']%></div>
<a class='gameview' href='javascript://' class='view'>view</a>
</td>